/* #########################
   ###       header      ###
   #########################*/

.header-fixo {
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	z-index: 200;
}

#header div.container {
	background-color: #fff;
	padding-top: 15px;
}

#header .col-sm-8,
#header .col-sm-4 {
padding: 0px;
}

.navbar {
	margin-bottom: 0px;
	border: none;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}

.navbar-nav > li > a {
	padding: 0px 10px;
}

.navbar-nav > li {
	border-left: 2px solid #76b2c3;
}

.navbar-nav > li.nodivider {
	border-left: none;
}

#header .navbar > .container-fluid {
	margin-top: 30px;
	padding: 0px;
}

#header div#bs-example-navbar-collapse-1 {
	padding: 0px;
}

#header input {
	height: 23px;
	width: 163px;
}

#header button.btn.btn-link {
	padding: 0px;
}

div#links-header {
	margin-top: 20px;
	margin-left: 18px;
}

#links-header img {
margin-right: 11px;
}

div#login-area {
margin-left: 18px;
background-color: #76b2c3;
height: 38px;
overflow: hidden;
}

.sa_logado {
	margin-top: 8px;
	font-weight: bolder;
}

#login-form span {
margin-right: 20px;
}

img.fone {
margin-right: 10px;
top: -10px;
position: relative;
}

a > span.fale-conosco,
a:hover {
	color: #666;
	text-decoration: none;
}

#sa_loginform p {
display: inline;
color: #fff;
font-size: 12px;
letter-spacing: 1.1px;
}

#sa_loginform input {
width: 120px;
text-align: center;
color: #666;
}

input#sa_wp-submit {
width: 20px;
height: 20px;
border: none;
box-sizing: content-box;
background-image: url("../img/seta-btn-login.png");
color: transparent;
padding: 0px;
margin: 0px;
}

form#sa_loginform {
margin-top: 6px;
margin-left: 10px;
margin-right: 10px;
}

#sa_loginform label {
font-weight: normal;
margin: 0px 2px 0px 3px;
}

.sa_logado a, .sa_logado span {
color: #fff;
}

